* {
    margin: 0px;
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: white;
}

#parentDiv {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    margin-top: 20px;
}

#one, #two, #four, #five, #seven, #eight {
    border-right: 1px solid white;
}

#one, #two, #three, #four, #five, #six {
    border-bottom: 1px solid white;
}

#turnElement {
    text-align: center;
    margin: 10px;
    color: white;
}

#scores {
    text-align: center;
    margin: 10px;
    color: white;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    text-align: center;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

#resetButton {
    display: block;
    margin: 0 auto;
    background-color: white;
    font-size: large;
    border-radius: 25px;
}